body {
  font-family: "Playfair Display", serif;

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  a {
    color: black;
  }

  .hearts {
    color: red;
  }
}
.container {
  position: relative;
  min-height: 100vh;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.wrapper-left {
  margin: 3em 1em 1em 10em;
}
.name-title {
  font-size: 2.5em;
  font-weight: 500;
}

.city {
  font-style: italic;
}

.wrapper-right {
  margin: 6em 1em 1em 10em;
  background-color: yellow;
}

.above-products {
  margin: 80% 20% 0 20%;
  @media (min-width: 968px) {
    margin: 18% 20% 0 20%;
  }
}
.products {
  margin: 0% 20% 0 20%;
  font-size: 2.5em;
  font-weight: 500;
  @media (min-width: 968px) {
    margin: 0em 0em 0 5.2em;
  }
}

.profiles {
  margin-top: 5em;
}

.below-products {
  position: absolute;
  line-height: 1.5;
  font-size: 1em;
  margin-top: 1.6em;
  margin-left: 10vw;
  font-size: 5em;
  @media (min-width: 968px) {
    visibility: hidden;
  }
}

.below-products-1 {
  position: absolute;
  line-height: 1.5;
  font-size: 1em;
  margin-top: 2.5em;
  margin-left: 5vw;
  text-align: center;
  font-size: 5em;
  @media (min-width: 968px) {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  overflow-x: hidden;
}

.grid-free {
  display: grid;
  grid-template-columns: 1fr;
}

.full-text {
  height: 2.5rem;
  font-size: 12vw;
  display: block;
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media (max-width: 968px) {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper-left,
  .wrapper-right,.pink-div {
    margin: 0em 5em;
  }


  .below-products,
  .below-products-1 {
    visibility: hidden;
  }

  .above-products {
    margin: 5em 5em 0em 5em;
  }
  
  .pink-text{
    font-family: 'Roboto', sans-serif;
  }
  
  .products {
    margin: 0em 1em 5em 2em;
  }
}
