@import url(/home/adebola/Documents/microverse/portfolio/portfolio-fast/assets/_reset.css);
body {
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, serif;
  overflow-x: hidden;
}

body h3 {
  font-size: 2em;
}

body p {
  font-size: 1.2em;
}

body a {
  color: black;
}

body .hearts {
  color: red;
}

.container {
  position: relative;
  min-height: 100vh;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.wrapper-left {
  margin: 3em 1em 1em 10em;
}

.name-title {
  font-size: 2.5em;
  font-weight: 500;
}

.city {
  font-style: italic;
}

.wrapper-right {
  margin: 3em 1em 1em 10em;
  background-color: yellow;
  padding-bottom: 2em;
}

.project-3,
.project-4 {
  margin-top: 1.2em;
}

.project-img {
  object-fit: contain;
  width: 400px;
  height: 400px;
}

.projects-grid {
  margin-top: -1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.project-name {
  margin: -2.5em;
  font-weight: 600;
  font-size: 1.2em;
}

.project-name-1 {
  margin-top: -2.5em;
  font-weight: 600;
  font-size: 1.2em;
}

.project-title,
.project-title-1 {
  font-weight: normal;
}

@media (min-width: 968px) {
  .above-products {
    margin: 18% 20% 0 20%;
  }
}

.products {
  margin: 0% 20% 0 20%;
  font-size: 2.5em;
  font-weight: 500;
}

@media (min-width: 968px) {
  .products {
    margin: 0em 0em 0 5.2em;
  }
}

.profiles {
  margin-top: 5em;
}

.below-products {
  position: absolute;
  line-height: 1.5;
  font-size: 1em;
  margin-top: 1.6em;
  margin-left: 10vw;
  font-size: 5em;
}

@media (min-width: 968px) {
  .below-products {
    visibility: hidden;
  }
}

.below-products-1 {
  position: absolute;
  line-height: 1.5;
  font-size: 1em;
  margin-top: 2.5em;
  margin-left: 5vw;
  text-align: center;
  font-size: 5em;
}

@media (min-width: 968px) {
  .below-products-1 {
    visibility: hidden;
  }
}

.grid-free {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.full-text {
  height: 2.5rem;
  font-size: 12vw;
  display: block;
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 968px) {
  .full-text {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .wrapper-left,
  .wrapper-right,
  .pink-div {
    margin: 0em 5em;
  }
  .below-products,
  .below-products-1 {
    visibility: hidden;
  }
  .above-products {
    margin: 5em 5em 0em 2.5em;
  }
  .products {
    margin: 0em 1em 5em 1em;
  }
}

@media (min-width: 1380px) and (max-width: 1700px) {
  .above-products {
    margin: 8em 0 0 3em;
    padding-left: 2em;
  }
  .products {
    margin: 0em 0 0 2em;
  }
  .wrapper-right {
    margin: 6em 2em 2em 2em;
  }
  .wrapper-left {
    margin: 1em 4.5em;
  }
  .grid-free {
    margin-top: 5em;
    padding-top: 5em;
  }
}

@media (min-width: 350px) and (max-width: 380px) {
  .footer {
    background-color: purple;
    padding: 2em;
    color: white;
    text-align: center;
    font-weight: 700;
  }
  .wrapper-left {
    width: 70vw;
    margin: 1em 4em 1em 4em;
  }
  .main-wrapper {
    grid-template-columns: 1fr;
  }
  .wrapper-right {
    width: 100vw;
    margin: 1em 0 0 0;
  }
  .profiles {
    margin-top: 1em;
  }
  body {
    margin: 0;
    font-size: 0.8em;
  }
  .products {
    margin-left: 1.5em;
    font-weight: 500;
    font-size: 2em;
  }
  .grid-free {
    display: none;
  }
  .full-text {
    display: none;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project-img {
    width: 300px;
    height: 300px;
  }

  .project-name {
    margin: -1.5em;
    font-weight: 600;
    font-size: 1.2em;
  }

  .project-name-1 {
    margin: -1.5em;
    font-weight: 600;
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=styles.css.map */
