body{
    font-family: 'Playfair Display', serif;
    overflow: hidden;
    .container{
        position: relative;
        min-height: 100vh;
    }    
    .main-wrapper
    {
        display:grid;
        grid-template-columns: 1fr 2fr;

        .name-title{
            font-size: 2.5em;
            font-weight: 500;
        }


        .wrapper-left{
            margin: 3em 1em 1em 10em;
        }

        .city{
            font-style: italic;
        }
        
        .wrapper-right{
            margin: 6em 1em 1em 10em;
            background-color: yellow;

            .above-products{
                // margin:10em 5em 0 13em;
                margin:80% 20% 0 20%;
                @media(min-width: 968px){
                    margin:18% 20% 0 20%;
                }
            }
            .products{
                margin:0% 20% 0 20%;
                font-size:2.5em;
                font-weight: 500;

                @media(min-width: 968px){
                  margin:0em 0em 0 5.2em;
                }
            }
        }
        
        .profiles{
            margin-top:5em;
        }


    }
    
    h3{
        font-size:2em;
    }
    
    p{
        font-size:1em;
    }
    
    a{
        color:black;
    }
    
    
    
    .grid-free{
    display:grid;
    grid-auto-columns: 1fr;
    }
    
   
    
    .full-text{
        position:absolute;
        bottom:0;
        width:100vw;
        height:2.5rem;
        margin-left:.9em;
        font-size:10em;

        @media(max-width: 968px){
            visibility: hidden;
        }
    }

    .below-products{
        position: absolute;
        height: 2.5rem;
        font-size:5em;
        text-align: center;
        @media(min-width:968px){
            visibility: hidden;
        }
    }
    

}

